@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
}

@theme {
  --color-primary: #F97316;
  --color-secondary: #EA580C;
  --color-accent: #FACC15;
  --color-dark: #1F2937;
  --color-light: #6B7280;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
  --font-poetsen: var(--font-poetsen), cursive;
  --font-fredoka: var(--font-fredoka), sans-serif;
  --font-briem: "Briem Hand", cursive;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Base custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
